<%- include("header") -%>
<body>

<div class="box" id="heading">
    <h1>
        
        <%= title %>
    </h1>
</div>

    
    <div class="box">
        <div>
            <p style="text-align: center;border-bottom: 1px solid #e0e0e0;">Welcome to your Shopping List! <br> Hit + to add new
                item. <br> Tick ☐ to cross out an item</p>
        </div>
<ul>
    <%items.forEach((fruit)=> { %>
        <li>
            <%=fruit %>
        </li>
        <%}) %>
</ul>
<p>

    <%- htmlContent %>
</p>

<form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
    <button type="submit" name="list" value="<%= title %>">+</button>
</form>
    </body>

    </html>

    </div>

<%- include("footer") -%>